html, body {
	height: 100%;
}

.container {
	margin-bottom: 100px;
	height: 100%;
}


#footer {
	position: fixed;
	bottom: 0;
	background-color: #000;
	z-index: 10;
	width: 100%;
	height: 60px;
	color: #eee;
}
#footer #nowplaying {
}
#footer #nowplaying img.album-art {
	position: relative;
	border: 1px solid white;
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 5px;
}
#footer #nowplaying ul {
	list-style: none;
}

#main {
}
#data {
	position: relative;
	height: 100%;
}
.music-list {
	position: relative;
	height: 100%;
	margin-top: 10px;
}
.music-list ul {
	position: relative;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

#themes {
	float: right;
}
#themes .theme-list {
	position: absolute;
	z-index: 999;
}

audio {
}

.noborder {
	border: none !important;
}

input {
	font-size: 16pt;
	font-weight: bold;
	border: none;
	background: none;
	border-left: 2px solid gray;
}

.filter-clear {
	cursor: pointer;
	float: right;
}
