<!doctype html>
<html>
	<head>
		<title>WebAmp :: For the non-blocking love of music</title>
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="/static/css/style.css"></link>
	</head>
	<body>
		<div class="container">
			<header id="header">
				<div class="banner">
					<h1><a href="/">WebAmp</a></h1>
					<span class="caption">Ampache for the web</span>
				</div>
			</header>

			<div id="main" class="clearfix">
				{{<}}
			</div><!-- #main -->

			<footer id="footer">
				<a href="https://github.com/bahamas10/node-webamp/">Fork on GitHub</a>
			</footer>
		</div><!-- .container -->
	</body>
</html>
